
.vs/wireframe_renderer/v17/Browse.VC.db
.vs/wireframe_renderer/v17/.suo
.vs/wireframe_renderer/v17/Browse.VC.db-shm
.vs/wireframe_renderer/v17/Browse.VC.opendb
.vs/wireframe_renderer/v17/Browse.VC.db-wal
.vs/wireframe_renderer/v17/ipch/AutoPCH/7a8b97b49c5dba98/SOURCE.ipch
